<mat-card class="programming-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>Programming languages</mat-card-title>
    <mat-card-subtitle>Programming Languages, Frameworks, Concepts and Much More! </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>


<mat-card class="programming-card" *ngFor="let language of programming">
  <mat-card-header>
    <mat-card-title>{{language.title}}</mat-card-title>
    <mat-card-subtitle>{{language.type}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{language.details}}</p>
  </mat-card-content>
</mat-card>