<mat-card class="application-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>Software Applications</mat-card-title>
    <mat-card-subtitle>Software Applications, from IDE's to the terminal!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Our field is massive. The more you learn the more you realize there's so much more you don't know. Time seems to particularly
      seems out of sync with the rest of the world when it comes to our field. Progressive web applications, Virtual Reality,
      A.I, Augmented reality and the list go on and on. The biggest thing I worry about is I won't have the time in my life
      time to explore the other possibilities. Currently I have limited myself to the top three interests when it comes to
      learning and developing. Progressive Web Applications, Virtual Reality & Artificial intelligence. Below is a very surface
      level of what I have been exposed to so far; what I feel comfortable in; as well as what I am aware of and in the process
      of learning.
    </p>
    <div class="about-page-content-image">
      <img src='/assets/applications.png' style="height:300px; width:300px;">
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="application-card" *ngFor="let application of applications">
  <mat-card-header>
    <mat-card-title>{{application.title}}</mat-card-title>
    <mat-card-subtitle>{{application.type}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{application.details}}</p>
  </mat-card-content>
</mat-card>