<mat-card class="application-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>Software Applications</mat-card-title>
    <mat-card-subtitle>Software Applications, from IDE's to the terminal!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>


<mat-card class="application-card" *ngFor="let application of applications">
  <mat-card-header>
    <mat-card-title><h3>{{application.title}}</h3></mat-card-title>
    <mat-card-subtitle>{{application.type}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{application.details}}</p>
  </mat-card-content>
</mat-card>